<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swjtuhc.demo.mapper.GameMapper">
<resultMap type="com.swjtuhc.demo.model.Game" id="game_result">
<id column="g_id" property="gId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
<result column="gamename" property="gameName" javaType="java.lang.String" jdbcType="VARCHAR"/>
<result column="download_address" property="address" javaType="java.lang.String" jdbcType="VARCHAR"/>
<result column="summary" property="summary" javaType="java.lang.String" jdbcType="VARCHAR"/>
<result column="picture" property="poster" javaType="java.lang.String" jdbcType="VARCHAR"/>
<result column="strategy" property="skill" javaType="java.lang.String" jdbcType="VARCHAR"/>
<result column="video" property="video" javaType="java.lang.String" jdbcType="VARCHAR"/>
</resultMap>
<select id="selectAllGames" resultMap="game_result">
select * from games

</select>
<insert id ="insertGame" parameterType="com.swjtuhc.demo.model.Game">

insert into games
(gamename,download_address,summary,picture,strategy,video)
values
(#{gameName},#{address},#{summary},#{poster},#{skill},#{video})
</insert>
  
</mapper>